# Exclude Git files
.git
.github
.gitignore

# Exclude Python cache files
__pycache__
.mypy_cache
.pytest_cache
.ruff_cache
.cache

# Exclude Python virtual environment
/venv
# Exclude models
*.safetensors
.DS_Store